{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load globalfunctions %}
{% load thumbnail %}

{% block content %}
    <!-- Hero Section Start -->
    <div class="hero-section section">

        <div class="hero-slider hero-slider-one" id="home">
            <!--Start Single Slider-->
            <div class="hero-slide-item d-flex image-bg align-items-center" style="background-image: url({% static 'front/images/hero/hero-1.jpg' %}); ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-7 col-md-6 col-12">
                            <div class="hero-content-box">
                                <div  class="hero-content text-left" >
                                    <h1 style="color: black">{{ mainPage.title }}</h1>
                                    <p>{{ mainPage.description }} </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-6 col-12">
                            <div class="hero-content-box">
                                <div  class="hero-content text-left" >
                                    <h1 style="color: black">{{ mainPage.title }}</h1>
                                    <p>{{ mainPage.description }} </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Single Slider-->
        </div>

    </div><!-- Hero Section End -->

    <!-- Page Conttent -->
    <main class="page-content">

        <!-- Start Service Style-->

        <div class="st-benift-area bg-white"  >

            <div class="container" style="padding: 50px;width: 100%; padding-right: 15px;padding-left: 15px; margin-right: auto;margin-left: auto">

                <h2 style="font-weight: bold;text-align: center; padding-bottom: 50px; margin-top: 50px">Müşterilerimiz</h2>

                <section class="customer-logos slider">
                    {% for project in projects %}
                        <a href="{% url 'detail' project.id %}"><div class="slide" style="padding-left: 15px; padding-right: 15px"><img src="{{ project.logo.url }}"></div></a>
                    {% endfor %}
                </section>
            </div>
            </div>



        <!-- End Testimonial Style -->
    </main>
    <!--// Page Conttent -->
{% endblock %}